@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model Personal.Site.Models.SharedViewModels.LayoutViewModel

<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""><!--<![endif]-->

<head>
    <meta charset="utf-8"/>

    <title>@Model.SiteName</title>

    <meta name="description"    content="@Model.Description">
    <meta name="keywords"       content="@Model.KeyWords">
    <meta name="viewport"       content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />


    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/>

        <!-- Template -->
        <link href="~/css/berg.css" asp-append-version="true"               rel="stylesheet" type="text/css" />

        <!-- Google Font -->
        <link href="http://fonts.googleapis.com/css?family=Lato:400,700"    rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet" type="text/css">

        <!-- Icons -->
        <link href="lib/icons-mind/style.css"                               rel="stylesheet" type="text/css">
        <link href="lib/font-awesome/css/font-awesome.css"                  rel="stylesheet" type="text/css">

        <!-- Plugins -->
        <link href="lib/jpreloader/css/jpreloader2.css"                      rel="stylesheet" type="text/css">
        <link href="lib/animate.css/animate.css"                            rel="stylesheet" type="text/css">
        <link href="lib/magnific-popup/dist/magnific-popup.css"             rel="stylesheet" type="text/css">
        <link href="lib/flexslider/flexslider.css"                          rel="stylesheet" type="text/css">
        <link href="lib/Morphext/dist/morphext.css"                         rel="stylesheet" type="text/css">
        <link href="lib/flag-icon-css/css/flag-icon.css"                    rel="stylesheet" type="text/css">

        <!-- Color CSS -->
        <link href="css/colors/blue.css" rel="stylesheet" type="text/css">
    </environment>


    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"/>

        <!-- Template -->
        <link href="~/css/berg.css" asp-append-version="true"               rel="stylesheet" type="text/css"/>

        <!-- Google Font -->
        <link href="http://fonts.googleapis.com/css?family=Lato:400,700"    rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet" type="text/css">

        <!-- Icons -->
        <link href="lib/icons-mind/style.css"                               rel="stylesheet" type="text/css">
        <link href="lib/font-awesome/css/font-awesome.css"                  rel="stylesheet" type="text/css">

        <!-- Plugins -->
        <link href="lib/jpreloader/css/jpreloader.css"                      rel="stylesheet" type="text/css">
        <link href="lib/animate.css/animate.css"                            rel="stylesheet" type="text/css">
        <link href="lib/magnific-popup/dist/magnific-popup.css"             rel="stylesheet" type="text/css">
        <link href="lib/flexslider/flexslider.css"                          rel="stylesheet" type="text/css">
        <link href="lib/Morphext/dist/morphext.css"                         rel="stylesheet" type="text/css">
    </environment>

    <!-- Modernizr JS for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 8]>
    <script src="lib/plugins/modernizr.min.js"></script>
    <![endif]-->
</head>



<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" data-offset="66">
    <!--[if lt IE 10]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    @RenderBody()    
    

    <environment names="Development">

        <!-- Plugins JS -->
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/jpreloader/js/jpreloader.js"></script>
        <script src="~/lib/detectmobilebrowser/detectmobilebrowser.js"></script>
        <script src="~/lib/debouncer/debouncer.js"></script>
        <script src="~/lib/jquery.easing/js/jquery.easing.min.js"></script>
        <script src="~/lib/jquery.sticky/jquery.sticky.js"></script>
        <script src="~/lib/protonet/jquery.inview/jquery.inview.js"></script>
        <script src="~/lib/jquery.matchheights/jquery.matchheights.js"></script>
        <script src="~/lib/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
        <script src="~/lib/flexSlider/jquery.flexslider-min.js"></script>
        <script src="~/lib/jquery-countTo/jquery.countTo.js"></script>
        <script src="~/lib/isotope/dist/isotope.pkgd.js"></script>

        <!-- Main JS -->
        <script src="~/js/main.js"></script>

        <!-- Filterable Portfolio JS -->
        <script src="~/js/filterable-portfolio.js"></script>

        <!-- Animation JS (Optional) -->
        <script src="~/js/animation.js"></script>

        <script src="~/js/site.js" asp-append-version="true"></script>


    </environment>

    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">

        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">

        
        </script>


        
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
